@using System.Text.Json
@using PocWebDevBackend.Service.Toast
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Meus Veículos</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PocWebDevBackend.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar_header bg-white border-bottom box-shadow">
            <div class="container-fluid navigation">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Meus Veículos</a>
                @if (User.IsInRole("Admin")){
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Usuários</a>
                        </li>
                    </ul>
                }
            </div>
            <div class="nav_user_greetings">
                @if (User.Identity.IsAuthenticated) {
                    <p class="nav_user_greetings_text">Olá, <span class="nav_user_name">@User.Identity.Name</span></p>
                    <span class="divisor"></span>
                    <a class="" asp-controller="Users" asp-action="Logout">Sair</a>

                } else {
                    <a asp-controller="Users" asp-action="Login" class="nav_user_greetings_text">
                        Login
                    </a>
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @{
                var toastData = TempData["Toast"] as string;
                var toast = !string.IsNullOrEmpty(toastData)
                ? JsonSerializer.Deserialize<ToastService>(toastData)
                : null;
                bool showToast = toast != null;
                var message = toast?.Message;
                var type = toast?.Type.ToString().ToLower();

            }

            <div data-show="@showToast" class="toast_class toast_type_@type">
                <p class="toast_type_@type">@message</p>
            </div>


            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Meus Carros - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
